/*  AREA MAPA
----------------------------------------*/

#ver-mapa {

  #mapa{
    border: 2px solid white;
  }
  .botones {
    margin-top: 15px;
    display: grid;
    grid-template-areas:
      ". up ."
      "lf dw rg";
    justify-content: center;
    align-content: center;
    gap: 5px;
    
    @mixin bot() {
      background-color: #5b6169;
      box-sizing: border-box;
      border-radius: 15px;
      border-color: transparent;
      color: white;
      width: 40px;
      height: 40px;
      font-size: 35px;
    }
    .up { @include bot(); grid-area: up;}
    .lf { @include bot(); grid-area: lf;}
    .dw { @include bot(); grid-area: dw;}
    .rg { @include bot(); grid-area: rg;}
  }
}